<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/yepwoo/laragine/src/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
            <directory suffix=".php">./core/*/Tests/Unit</directory>
            <directory suffix=".php">./plugins/*/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
            <directory suffix=".php">./core/*/Tests/Feature</directory>
            <directory suffix=".php">./plugins/*/Tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./core</directory>
        </include>
        <exclude>
            <directory suffix=".blade.php">./</directory>
            <directory suffix="web.php">./core</directory>
            <directory suffix="api.php">./core</directory>
            <directory suffix="ModuleServiceProvider.php">./core</directory>
            <directory suffix="SendResponse.php">./core/Base/Traits/Response</directory>
            <directory suffix="Uuid.php">./core/Base/Traits/Model</directory>
            <directory>./routes/</directory>
            <directory>./database/migrations/</directory>
            <directory>./database/factories</directory>
            <directory>./database/seeders</directory>
            <directory>./core/*/Database/Migrations/</directory>
            <directory>./core/*/Database/Factories</directory>
            <directory>./core/*/Database/Seeders</directory>
            <directory>./core/*/Database/Exports/</directory>
            <directory>./core/Base/Traits/ServiceProvider</directory>
            <directory>./core/Base/Logging</directory>
            <directory>./core/Base/Middleware</directory>
            <directory>./core/*/Requests</directory>
            <directory>./core/*/Resources</directory>
        </exclude>
        <report>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
